#textdomain wesnoth-Alfhelm_the_Wise
#PART III: The Dark Depths of the Forest
#SCENARIO 5: Old Friends (952 SI, March)
#	Vaniyera is the one responsible for Ranhilde's death, and he will pay. You must fight him yourself in single combat - but first you must force him to face you, since he has no trust in men and will not come if challenged.
#The actual scenario is like a reversal of Outriding the Outriders (from Sceptre of Fire). You're chasing Vaniyera, he's stopping in various places and summoning IE_Sidhe_Forefathers. The objective is to attack him with Alfhelm.

[scenario]
    name= _ "Old Friends"
    id=3_5_Old_Friends
    turns=15
    map_data="{~add-ons/Alfhelm_the_Wise/maps/3_5_Old_Friends.map}"
    next_scenario=3_Epilogue

    {SCENARIO_MUSIC "vengeful.ogg"}

    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}

    [side]
        side=1
        controller=human
        team_name=good
        user_team_name= _ "Alflings"
        shroud=yes
        fog=yes

        type=IE_Marauder_Warrior
        id=Alfhelm
        name= _ "Alfhelm"
        canrecruit=yes
        recruit=IE_Marauder_Warrior,IE_Marauder_Axeman,IE_Marauder_Scout,IE_Marauder_Boatsman,IE_Marauder_Fay
        #	profile=portraits/alfhelm.png
    [/side]

    [side]
        side=2
        team_name=bad
        user_team_name= _ "Sidhe"
        {GOLD 200 220 240}

        type=IE_Sidhe_Dark_Thunderblade
        id=Vaniyera
        name= _ "Vaniyera"
        canrecruit=yes
#ifdef EASY
        recruit=IE_Sidhe_Forefather,IE_Sidhe_Ancestor
#else
        recruit=IE_Sidhe_Forefather,IE_Sidhe_Ancestor,IE_Sidhe_Ancient
#endif
        [ai]
            recruitment_pattern=mixed fighter,fighter,fighter
            villages_per_scout=0
        [/ai]
        [ai]
            turns=1
            [leader_goal]
                x,y=10,10
                value=20
            [/leader_goal]
        [/ai]
        [ai]
            turns=2-4
            [leader_goal]
                x,y=19,22
                value=20
            [/leader_goal]
        [/ai]
        [ai]
            turns=5-8
            [leader_goal]
                x,y=28,23
                value=20
            [/leader_goal]
        [/ai]
        [ai]
            turns=8-15
            [leader_goal]
                x,y=34,43
                value=100
            [/leader_goal]
        [/ai]
    [/side]

    [story]
        [part]
            story= _ "Vaniyera was gone, but not vanished this time. We knew he would flee eastward towards Stormkeep."
        [/part]
        [part]
            story= _ "The next morning we set off in pursuit... all save Harn and Friysr, who remained behind to secure the fortress of Vaniyera, and Ranhilde, who had died."
        [/part]
    [/story]

    [event]
        name=prestart
        [capture_village]
            x=1-40
            y=1-45
            side=2
        [/capture_village]
        [objectives]
            side=1
            [objective]
                description= _ "Attack Vaniyera with Alfhelm"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Alfhelm"
                condition=lose
            [/objective]
            [objective]
                description= _ "Cowardly attack Vaniyera with other units"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    {ALF_DEATHS}

    [event]
        name=start
        #labels
        [label]
            text= _ "Darkwater Stream"
            x,y=16,4
        [/label]
        [label]
            text= _ "Mount Darkwater"
            x,y=35,41
        [/label]
        [label]
            text= _ "Castle of Vaniyera"
            x,y=34,43
        [/label]
        #dialogue
        [message]
            id=Alfhelm
            message= _ "We have almost caught him! Thunderblade Vaniyera, acknowledge me and accept my challenge of single combat."
        [/message]
        [message]
            id=Vaniyera
            message= _ "Single combat? You mean the single combat that gave my master Leithan four arrows in his back? Ha!"
        [/message]
        [message]
            id=Alfhelm
            message= _ "You will duel me, whether you will or no!"
        [/message]
        {MOVE_UNIT_FAKE 13 6	13 6	13 8}
        [message]
            id=Alfhelm
            message= _ "(It is strange that he is so cowardly now of all times...)"
        [/message]
    [/event]

    [event]
        name=sighted
        [filter]
            type=IE_Sidhe_Forefather,IE_Sidhe_Ancestor,IE_Sidhe_Ancient
        [/filter]
        [message]
            x,y=$x1,$y1
            message= _ "Iletaidemei 'a etaucavei!"
        [/message]
        [role]
            side=1
            [not]
                id=Alfhelm
            [/not]
            role=terrified
        [/role]
        [message]
            role=terrified
            message= _ "Gods! What is that beast?!"
        [/message]
        [message]
            id=Alfhelm
            message= _ "Not a beast; a fallen spirit come back to life. This is fearsome magic... but it will not help you, Vaniyera!"
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            [not]
                id=Alfhelm
            [/not]
        [/filter]
        [filter_second]
            id=Vaniyera
        [/filter_second]
        [message]
            id=Alfhelm
            message= _ "Do not attack him!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=attack
        [filter]
            id=Alfhelm
        [/filter]
        [filter_second]
            id=Vaniyera
        [/filter_second]
        [message]
            id=Alfhelm
            message= _ "I have caught you, Vaniyera! Now, will you face me?"
        [/message]
        [message]
            id=Vaniyera
            message= _ "It seems I have no choice. Very well - draw sword! I'll kill you like I did your bitch!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Vaniyera
        [/filter]
        [message]
            id=Vaniyera
            message= _ "My sword... it has broken..."
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Vaniyera
        [/filter]
        [message]
            id=Alfhelm
            message= _ "Well... my lady has been avenged."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
[/scenario]
