#textdomain wesnoth-Feudal_Era
[unit_type]
    id=Kedari Desert Ambusher
    name= _ "Desert Ambusher"
    race=kedari
    image="units/human-kedari/desert-ambusher.png"
    
    hitpoints=50
    movement_type=fe_kedarifoot
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=Kedari Desert Pursuer
    cost=41
    usage=fighter
    description= _ "Long years of service in his sultan's army have a way of shaping a light footman into a consummate ranger. Fully at home in the desert wastes, he has learned the art of ambushing his foes from the hot sands of the desert."
    {DEFENSE_ANIM "units/human-kedari/desert-ambusher.png" "units/human-kedari/desert-ambusher.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    #[abilities]
    #    {ABILITY_SAND_HIDES}
    #[/abilities]
    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        range=ranged
        type=pierce
        damage=6
        number=4
    [/attack]
[/unit_type]
