#textdomain wesnoth-Tale_of_Vaniyera
#SCENARIO 5: Retribution

[scenario]
    name= _ "Retribution"
    id=5_Retribution
    {TURNS 48 42 36}
    map_data="{~add-ons/Tale_of_Vaniyera/maps/5_Retribution.map}"
    next_scenario=Epilogue
    {DEFAULT_MUSIC_PLAYLIST}
    {SCHEDULE_DAWN}

    [side]
        side=1
        controller=human
        team_name=good
        id=Vaniyera
        type=IE_Sidhe_Veiledblade
    [/side]

    [side]
        side=2
        controller=ai
        team_name=bad
        {GOLD 160 170 180}
        {INCOME 4 8 12}
        recruit=IE_Lavinian_Signifer,IE_Lavinian_Propugnator,IE_Lavinian_Decurion
        type=IE_Lavinian_Imperator
        id=Primus M
        name= "Primus Maximus"
		profile=portraits/primus.png
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_QUICK}
        [/modifications]
        canrecruit=yes
        [ai]
            aggression=0.4
            caution=0.3
            recruitment_pattern=mixed fighter,mixed fighter,archer
        [/ai]
    [/side]

    [side]
        side=3
        controller=ai
        team_name=bad
        {GOLD 170 180 190}
        {INCOME 3 5 7}
        recruit=IE_Lavinian_Legionnaire,IE_Lavinian_Bowman,IE_Nemidian_Cavalry
        type=IE_Lavinian_Aquilifer
        id=Claudius S
        name= "Claudius Silvestrus"
		profile=portraits/silvius.png
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
        canrecruit=yes
        [ai]
            aggression=0.6
            caution=0.2
            recruitment_pattern=mixed fighter,archer,mixed fighter,scout,mixed fighter
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
        team_name=bad
        {GOLD 170 180 190}
        {INCOME 3 5 7}
        recruit=IE_Lavinian_Legionnaire,IE_Lavinian_Bowman,IE_Nemidian_Cavalry
        type=IE_Lavinian_Praetorian_Guard
        id=Silvius L
        name= "Silvius Laetirus"
		profile=portraits/quantis.png
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_QUICK}
        [/modifications]
        canrecruit=yes
        [ai]
            aggression=0.5
            caution=0.3
            recruitment_pattern=mixed fighter,archer,mixed fighter,scout,mixed fighter
        [/ai]
    [/side]

    [story]
        [part]
            story= _ "We soon left the woods of the dead, and sped south to the Lavinian camp to strike a blow against the heart of the Lavinian forces. Faolan urged us to send messengers to Mount Stormkeep, but he would not leave us himself, and no others were willing to leave the rest of us behind and flee from the coming battle to seek aid that would come too late."
        [/part]
        [part]
            story= _ "The Lavinian Legion may be lauded as the greatest fighting force in the world, but it proved to be a giant with feet of clay. As we approached, we saw their camp was nearly empty, and open to attack. The battle had taken its toll on the Lavinians."
        [/part]
        [part]
            background="maps/mt-stormkeep.png"
            show_title=yes
            {NEW_JOURNEY 383 228}
            {NEW_JOURNEY 381 241}
            {NEW_BATTLE 379 255}
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat Primus Maximus"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Vaniyera or Faolan"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=start
        [recall]
            id=Faolan
        [/recall]
        [message]
            id=Vaniyera
            message= _ "Lavinian scum! You will pay for your defiling of our home and your arrogance in challenging the Sidhe! Surrender or perish!"
        [/message]
        [message]
            id=Primus M
            message= _ "You have insulted us for the last time. You elves may have defeated some of my lesser soldiers, but I am the Imperator. These are my personal legions, the elite of the elite, warriors among warriors. We shall never surrender to one such as you."
        [/message]
        [message]
            id=Primus M
            message= _ "Our forces have been spread thin, this I know, but Claudius, Silvius, we will destroy these troublesome elves and then continue our assault on their capital when the fourth legion arrives."
        [/message]
        [message]
            id=Claudius S
            message= _ "Yes Lord!"
        [/message]
        [message]
            id=Silvius L
            message= _ "It shall be done! But our forces will not hold for long."
        [/message]
        [message]
            id=Primus M
            message= _ "Worry not, our reinforcements will soon arrive. Hold out until then, once they arrive we will surely crush this ragged band of elves and misfits by sheer weight of numbers."
        [/message]
        [message]
            id=Faolan
            message= _ "Vaniyera, take care! These reinforcements could arrive at any moment. We ought to refrain from battle until we know the extent of the enemy's army."
        [/message]
        [message]
            id=Vaniyera
            message= _ "We could wait, yes - or we could defeat these men quickly so that the reinforcements have nothing to reinforce. I choose the latter."
        [/message]
        [message]
            id=Hero_of_Old
            message= _ "In ages long past I believed that watching and waiting and talking were the way to better our people, but in death the simplest path seems best. Let us teach them the fear of the children of Vanimaro."
        [/message]
        [message]
            id=Faolan
            message= _ "Very well, my friend. Though I doubt the wisdom, I shall follow this path to its end. This is the duty of a Thunderblade."
        [/message]
        [message]
            id=Faolan
            message= _ "Heed my words, Lavinian! It grieves me, but my apprentice and I shall bring this folly to an end here and now. Your people will know the grief of losing their beloved Imperator. Then perhaps Lavinia will understand the Sidhe a little better."
        [/message]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Silvius L
        [/filter]
        [message]
            id=Silvius L
            message= _ "Aargh!"
        [/message]
        [message]
            id=Primus M
            message= _ "Silvius has fallen! Who will hold the line now?"
        [/message]
        [gold]
            side=2
            amount=100
        [/gold]
        [if]
            [have_unit]
                id=Claudius S
            [/have_unit]
            [then]
                [message]
                    id=Primus M
                    message= _ "This is looking dire. Hold fast, legionnaires."
                [/message]
            [/then]
            [else]
                [message]
                    id=Primus M
                    message= _ "The defenses are breached. Reserves, forward!"
                [/message]
                [message]
                    id=Vaniyera
                    message= _ "There cannot be many of them left. Kill them!"
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Claudius S
        [/filter]
        [message]
            id=Claudius S
            message= _ "Aargh!"
        [/message]
        [message]
            id=Primus M
            message= _ "Claudius, you fought well and bravely. Farewell!"
        [/message]
        [gold]
            side=2
            amount=100
        [/gold]
        [if]
            [have_unit]
                id=Silvius L
            [/have_unit]
            [then]
                [message]
                    id=Primus M
                    message= _ "This is looking dire. Hold the line, legionnaires."
                [/message]
            [/then]
            [else]
                [message]
                    id=Primus M
                    message= _ "The defenses are breached. Reserves, forward!"
                [/message]
                [message]
                    id=Vaniyera
                    message= _ "There cannot be many of them left. Kill them!"
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=11-21
            y=33-37
        [/filter]
        [message]
            id=Primus M
            message= _ "These elves have almost reached me? Guard! Help!"
        [/message]
        [unit]
            side=2
#ifdef EASY
            type=IE_Lavinian_Propugnator
#else
            type=IE_Lavinian_Praetorian_Guard
#endif
            x,y=12,35
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=2
            type=IE_Lavinian_Propugnator
            x,y=11,35
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=2
            type=IE_Lavinian_Propugnator
            x,y=11,35
            generate_name=yes
            random_traits=yes
        [/unit]
        [message]
            id=Vaniyera
            message= _ "Now you die, Lavinian!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            [filter_location]
                terrain=W*,Ch*
            [/filter_location]
        [/filter]
        [unit]
            side=3
            x,y=26,25
            type=IE_Nemidian_Hippopotamus
            id=Ayarus I
            name= "Ayarus Intadus"
            random_traits=yes
			profile=portraits/humans/pikeman.png
        [/unit]
        [unit]
            side=3
            x,y=26,24
            type=IE_Nemidian_River_Horse
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=3
            x,y=26,26
            type=IE_Nemidian_River_Horse
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=3
            x,y=1,30
            ##ifdef EASY
            type=IE_Nemidian_River_Calf
            ##else
            type=IE_Nemidian_River_Horse
            ##endif
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=3
            x,y=2,30
            ##ifdef HARD
            type=IE_Nemidian_River_Horse
            ##else
            type=IE_Nemidian_River_Calf
            ##endif
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=3
            x,y=2,31
            type=IE_Nemidian_River_Calf
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            side=3
            x,y=1,31
            type=IE_Nemidian_River_Calf
            generate_name=yes
            random_traits=yes
        [/unit]
        [message]
            id=Ayarus I
            message= _ "Lord Imperator, we have arrived!"
        [/message]
        [message]
            id=Primus M
            message= _ "Excellent timing! Hold the river!"
        [/message]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Primus M
        [/filter]
        [message]
            id=Primus M
            message= _ "I cannot die...I must..."
        [/message]
        [message]
            id=Vaniyera
            message= _ "Finally, we have slain this cursed man!"
        [/message]
        [message]
            id=Faolan
            message= _ "That man was the Imperator of the Lavinian Empire. Do not rejoice overmuch for what we have done this day."
        [/message]
        [kill]
            side=2,3,4
        [/kill]
        [endlevel]
            result=victory
            carryover_report=no
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            id=Vaniyera
            message= _ "I hear battle drums from afar."
        [/message]
        [message]
            id=Faolan
            message= _ "Their reinforcements have arrived. Sound the retreat."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {EOV_DEATHS}
[/scenario]
