#textdomain wesnoth-Imperial_Era

[unit_type]
    id=IE_Minuti_Khampsa_Audentis
    name= _ "Khampsa Audentis"
    race=IE_Minuti
    image="units/orcs-minuti/khampsa-audentis.png"
    
    hitpoints=60
    movement_type=ie_minutirider
    movement=8
    experience=50
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    cost=55
    usage=swimmer
    description= _ "A Khampsa of great ferocity becomes known as a Khampsa Audentis, the latter term referring to its bold and audacious behavior."
    [attack]
        name=bite
        description=_"bite"
        type=blade
        range=melee
        damage=13
        number=3
        icon=attacks/fangs.png
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
