#textdomain wesnoth-Up_From_Slavery
#define RECRUIT E N H
#ifdef EASY
    recruit={E}
#endif
#ifdef NORMAL
    recruit={N}
#endif
#ifdef HARD
    recruit={H}
#endif
#enddef

#define MOVE_UNIT_FAKE X1 Y1 XM YM X2 Y2
    [store_unit]
        [filter]
            x,y={X1},{Y1}
        [/filter]
        variable=temp
        kill=yes
    [/store_unit]
    [move_unit_fake]
        x={X1},{XM},{X2}
        y={Y1},{YM},{Y2}
        type=$temp.type
        side=$temp.side
    [/move_unit_fake]
    [set_variable]
        name=temp.x
        value={X2}
    [/set_variable]
    [set_variable]
        name=temp.y
        value={Y2}
    [/set_variable]
    [unstore_unit]
        variable=temp
        find_vacant=yes
    [/unstore_unit]
    [clear_variable]
        name=temp
    [/clear_variable]
    [redraw]
    [/redraw]
#enddef

#define UFS_DEATHS
    [event]
        name=die
        [filter]
            id=Sparxus
        [/filter]
        [message]
            id=Sparxus
            message= _ "Urkxshh.."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Grarivus
        [/filter]
        [message]
            id=Grarivus
            message= _ "Orgnnn..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Brotus
        [/filter]
        [message]
            id=Brotus
            message= _ "Ehn..."
        [/message]
    [/event]
#enddef

#define UFS_RECALL_HEROES
    [recall]
        id=Grarivus
    [/recall]
    [recall]
        id=Brotus
    [/recall]
#enddef

#define FORMAT VARIABLE TEMP_VARIABLE ELEMENT
    [set_variable]
        name={VARIABLE}_{TEMP_VARIABLE}_{ELEMENT}
        to_variable={VARIABLE}[${TEMP_VARIABLE}].{ELEMENT}
    [/set_variable]
#enddef

#define FOREACH_FORMAT VARIABLE TEMP_VARIABLE
    {FOREACH {VARIABLE} {TEMP_VARIABLE}}
    {FORMAT {VARIABLE} {TEMP_VARIABLE} x}
    {FORMAT {VARIABLE} {TEMP_VARIABLE} y}
#enddef
