#textdomain wesnoth-Alfhelm_the_Wise
[textdomain]
    name="wesnoth-Alfhelm_the_Wise"
    path="data/add-ons/Alfhelm_the_Wise/translations"
[/textdomain]

[campaign]
    id=Alfhelm_the_Wise
    icon="units/human-marauders/warrior.png~TC(1,magenta)"
    name= _ "Alfhelm the Wise"
    abbrev= _ "AtW"
    rank=2000938
    define="CAMPAIGN_ALFHELM_THE_WISE"
    first_scenario=1_1_The_Seeress
	[difficulty]
        define=EASY
        image=units/human-marauders/warrior.png~TC(1,magenta)
        label=_"Warrior"
        default=yes
		description="Moderate"
    [/difficulty]
    [difficulty]
        define=NORMAL
        image=units/human-marauders/pillager.png~TC(1,magenta)
        label=_"Pillager"
		description="Challenging"
    [/difficulty]
    [difficulty]
        define=HARD
        image=units/human-marauders/scorcher.png~TC(1,magenta)
        label=_"Scorcher"
		description="Difficult"
    [/difficulty]
    description= _ "938-952 SI
    
This is the tale of Alfhelm, called by some the Wise, son of Alfric Conqueror. This is the tale of his victories over his enemies, and his rise to power in the clans of Marauderdom. This is the tale of his journey south and his destruction of the Lavinian Empire. And this is the tale of his fated destiny in the dark forests far to the east of his homeland.
    
(Intermediate level, 15 scenarios.)

" + "(Version" + " 0.7, 30-03-2020)"
    image="units/human-marauders/warrior.png~TC(1,magenta)"
    end_text="FIN"
    [about]
        title= _ "Campaign Designer and Creator"
        [entry]
            name="Joseph Simmons (Turin)"
        [/entry]
    [/about]
    [about]
        title= _ "Campaign Maintenance"
        [entry]
            name="UnwiseOwl"
        [/entry]
    [/about]
    [about]
        title= _ "To see Runemaster Gali's tale of these events, play the campaign 'Gali's Contract'"
	{CREDITS_SEPARATOR}
    [/about]
[/campaign]

#ifdef CAMPAIGN_ALFHELM_THE_WISE
#define IMPERIAL_ERA
#enddef
#define IE_CAMPAIGN
#enddef
[binary_path]
    path=data/add-ons/Alfhelm_the_Wise/
[/binary_path]

{~add-ons/Imperial_Era/_main.cfg}

{~add-ons/Alfhelm_the_Wise/scenarios/utils/}
{~add-ons/Alfhelm_the_Wise/scenarios}

[+units]
    {~add-ons/Alfhelm_the_Wise/units/}
[/units]

#endif
