#textdomain wesnoth-Imperial_Era

[unit_type]
    id=IE_Sidhe_Shadowdancer
    name= _ "Shadowdancer"
    race=IE_Sidhe
    image="units/elves-sidhe/shadowdancer.png"
    
    hitpoints=52
    movement_type=ie_wildwoodland
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description= _ "Some may look down upon the shadowdancer's specialty, but they would be well advised not to do so in his face, lest they wish to have their sword in their back."
    {DEFENSE_ANIM "units/elves-sidhe/shadowdancer.png" "units/elves-sidhe/shadowdancer.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        icon=attacks/sword-elven.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            sound=sword-1.ogg
            begin=-250
            end=250
        [/frame]
    [/attack_anim]
[/unit_type]
